*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
}

.top-section, .bottom-section {
    max-width: 23.438rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }